@model IEnumerable<Comp306GroupProject.Models.JobCandidate>
@{
	ViewData["Title"] = "Index";
}

<div class="wrap-section">
    <h1>Index</h1>

    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CandidateId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CandidateName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CandidateEmail)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CandidateMajor)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CandidateSkill)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CandidateCity)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CandidateCountry)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CandidateId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CandidateName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CandidateEmail)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CandidateMajor)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CandidateSkill)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CandidateCity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CandidateCountry)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.CandidateId">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.CandidateId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.CandidateId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>