@model IEnumerable<Comp306GroupProject.Models.Job>

@{
    ViewData["Title"] = "Index";
}

@foreach (var item in Model)
{
    <div class="single-job-items mb-50">
        <div class="job-items">
            <div class="company-img company-img-details">
                <a href="#"><img src="~/img/job-list1.png" alt=""></a>
            </div>
            <div class="job-tittle">
                <a href="#">
                    <h4>@item.JobTitle</h4>
                </a>
                <ul>
                    <li style="width:140px">@item.CompanyName</li>
                    <li><i class="fas fa-map-marker-alt"></i>Toronto, Ontario</li>
                    <li>@item.Salary</li>
                </ul>
            </div>
        </div>
        <div class="items-link items-link2 f-right">
            <a asp-controller="jobseeker" asp-action="details" asp-route-id="@item.Id">@item.JobNature</a>
            <span>7 hours ago</span>
        </div>
    </div>
}